# API URLs
KURS_API=http://your-kurs-api:8002
NEWS_API=http://your-news-api:8000
COMMODITY_API=http://your-commodity-api:8001

# Telegram notification
TELEGRAM_BOT_TOKEN=your-telegram-bot-token
TELEGRAM_BOT_TOKEN_MODELLING=your-modelling-telegram-bot-token
TELEGRAM_CHAT_ID=your-chat-id

# MinIO
MINIO_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY=your-minio-access-key
MINIO_SECRET_KEY=your-minio-secret-key
MINIO_BUCKET_RAW=news-raw
MINIO_BUCKET_PROCESSED=news-processed

# Runtime
TZ=Asia/Jakarta
PYTHONUNBUFFERED=1
